* {
    margin: 0;
    padding: 0;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.top {
    padding-top: 217px;
    height: 1024px;
    background-image: url(img/topbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100%;
    background-size: cover;
    
    &__title {
        font-size: 64px;
        line-height: 78px;
        max-width: 750px;
        color: #FFFFFF;
        padding-bottom: 17px;
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        max-width: 481px;
        color: #FFFFFF;
        padding-bottom: 44px;
    }
    &__link {
        background: #9C0332;
        border-radius: 30px;
        box-sizing: border-box;
        padding: 13px 74px;
        width: 234px;
        height: 49px;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration-line: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s;
    }
    &__link:hover {
        background-color: #EB443F;
    }
}

.bottom {
    height: 556px;
    background: #000915;
    display: flex;
    align-items: center;
}

.games {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.game {
    width: 379px;
    height: 300px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding-left: 32px;
    padding-bottom: 32px;
    transition: all .4s;
    &__1 {
        background-image: url(img/gamebg1.png);
    }
    &__2 {
        width: 378px;
        background-image: url(img/gamebg2.png);
    }
    &__3 {
        background-image: url(img/gamebg3.png);
    }
}

.game:hover{
    box-shadow: 0px 0px 0px 3px #44D2FF inset;
}

.firstgame {
    padding-top: 234px;
    padding-bottom: 234px;
    background-color: #000915;
    display: flex;
    flex-wrap: wrap;
    gap: 131px;
    &__content {
        max-width: 584px;
    }
    &__title {
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-bottom: 32px;
    }
    &__title::after {
        content: "!";
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-bottom: 32px;
    }
    &__link {
        background: #9C0332;
        border-radius: 30px;
        border: none;
        font-family: inherit;
        outline: none;
        box-sizing: border-box;
        padding: 13px 74px;
        width: 234px;
        height: 49px;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration-line: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s;
    }
    &__link:hover {
        background-color: #EB443F
    }
    &__img {
        width: 485px;
        height: 333px;
    }
}

.secondgame {
    padding-top: 239px;
    padding-bottom: 239px;
    background-color: #000915;
    display: flex;
    flex-wrap: wrap;
    gap: 131px;
    &__content {
        max-width: 584px;
    }
    &__title {
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-bottom: 32px;
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-bottom: 32px;
    }
    &__link {
        background: #9C0332;
        border-radius: 30px;
        border: none;
        font-family: inherit;
        outline: none;
        box-sizing: border-box;
        padding: 13px 74px;
        width: 234px;
        height: 49px;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration-line: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s;
    }
    &__link:hover {
        background-color: #EB443F
    }
    &__img {
        width: 485px;
        height: 333px;
    }
}

.thirdgame {
    background-image: url(img/bottombg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-wrap: wrap;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        text-align: center;
    }
    &__link {
        background: #9C0332;
        border-radius: 30px;
        border: none;
        font-family: inherit;
        outline: none;
        box-sizing: border-box;
        padding: 13px 74px;
        width: 234px;
        height: 49px;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration-line: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s;
    }
    &__link:hover {
        background-color: #EB443F;
    }
}

.footer {
    height: 80px;
    background-color: #000915;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
}
